body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", "Courier", monospace;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

button {
  cursor: pointer;
}